LIBRARY_APP_NAME="Library API - Desenvolvimento"
LIBRARY_APP_VERSION="0.12.0"
LIBRARY_ENVIRONMENT="development"
LIBRARY_DEBUG="true"
LIBRARY_DEFAULT_PAGE_SIZE="10"
LIBRARY_MAX_PAGE_SIZE="100"
LIBRARY_ALLOWED_ORIGINS='["http://localhost:5173"]'
LIBRARY_HTTPS_ENABLED="false"
LIBRARY_DATABASE_HOST="localhost"
LIBRARY_DATABASE_PORT="5432"
LIBRARY_DATABASE_NAME="library"
LIBRARY_DATABASE_USER="library"
LIBRARY_DATABASE_PASSWORD="local-library-password"
